@import "../../../manifest";

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-xs-height;

    @include viewport-md {
        height: $header-md-height;
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 10px;

        height: 100%;
        background-color: $color-white;

        @include viewport-md {
            margin: 0 auto;
            padding: 0 40px;
            max-width: $container-max-md-width;
            background-color: transparent;
        }

        @include viewport-lg {
            max-width: $container-max-lg-width;
        }
    }

    &-logo {

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 120px;
            background-color: $color-main;
            font :{
                size: 16px;
                weight: 300;
            };
            color: $color-white;
        }
    }

    &-menu {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;

        &-toggle {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 40px;
            width: 40px;

            @include viewport-md {
                display: none;
            }

            &-content {
                display: flex;
                align-items: center;

                height: 20px;
                width: 20px;

                span {
                    position: relative;
                    display: block;

                    height: 2px;
                    width: 100%;

                    background-color: $color-main;

                    transition: background-color linear .2s;
                    transition-delay: .2s;

                    &:before,
                    &:after {
                        content: '';
                        position: absolute;
                        display: block;
                        background-color: $color-main;
                        height: 2px;
                        width: 100%;
                        transform: rotate(0deg);
                        transform-origin: center;
                    }

                    &:before {
                        top: -9px;
                        transition: top .2s linear .2s,
                                    transform .2s linear 0s;
                    }

                    &:after {
                        bottom: -9px;
                        transition: bottom .2s linear .2s,
                                    transform .2s linear 0s;
                    }
                }
            }
        }

        &-content {
            position: fixed;
            z-index: -1;
            top: 0;
            right: 0;
            left: 0;
            padding-top: $header-xs-height;
            height: 0;
            overflow: hidden;
            background-color: $color-white;

            transition: height ease-in-out .3s;

            @include viewport-md {
                position: relative;
                z-index: 2;
                padding: 0;
                height: $header-md-height;
                background-color: transparent;
            }

            .menu {
                display: flex;
                flex-direction: column;

                @include viewport-md {
                    height: $header-md-height;
                    flex-direction: row;
                    align-items: center;
                }

                &-item {
                    margin-top: 20px;

                    @include viewport-md {
                        margin: 0;
                    }

                    a {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        width: auto;
                        height: 40px;

                        font: {
                            size: 20px;
                            weight: 600;
                        }
                        color: $color-dark-grey;

                        transition: color ease-in-out .3s;

                        @include viewport-md {
                            margin: 0 30px;
                            color: $color-white;
                        }

                        &:after {

                            @include viewport-md {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                right: 50%;
                                transform: translateX(-50%);
                                width: 20px;
                                height: 1px;
                                background-color: $color-white;
                                transition: width ease-in-out .3s, background-color ease-in-out .3s;
                            }
                        }

                        &:hover {
                            color: $color-secondary;

                            &:after,
                            &:focus {
                                width: 100%;
                                background-color: $color-secondary;
                            }
                        }

                    }
                }
            }
        }

        &.js-menu-active {

            .header-menu-toggle {

                .header-menu-toggle-content {

                    span {
                        background-color: transparent;

                        &:before {
                            top: 0;
                            transform: rotate(45deg);
                            transition: top .2s linear 0s,
                                        transform .2s linear .2s;
                        }

                        &:after {
                            bottom: 0;
                            transform: rotate(-45deg);
                            transition: bottom .2s linear 0s,
                                        transform .2s linear .2s;
                        }
                    }
                }
            }

            .header-menu-content {
                height: 100vh;
            }
        }
    }
}
