// layout
$min-width-xs: 320px !default;
$min-width-sm: 768px !default;
$min-width-md: 1200px !default;
$min-width-lg: 1600px !default;

$header-xs-height: 50px;
$header-md-height: 100px;

$container-full-width: 100%;
$container-max-lg-width: 1440px;
$container-max-md-width: 1100px;

// colors
$color-baby-blue: #c3e0e5;
$color-dark-blue: #274472;
$color-blue-gray: #5885af;
$color-midnight-blue: #41729f;

$color-dark-gray: #2C2E31;

$color-white: #fff;

// fonts
$default-font-family: 'Montserrat', sans-serif;
